body {
  background-image: url(../assets/imagen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.boton{
  background-color: #395B64;
  transition: all .5s ease-in-out;
}

.boton:hover{
  background-color: #2666CF;
}

.buscarImg{
  background-color: #2666CF;
  transition: all .5s ease-in-out;
}

.buscarImg:hover {
  background-color: #395B64;
}